/* ======================================== */
/* COLOURS */
/* ======================================== */
/* basics */
/* violet */
/* rose */
/* turquoise */
/* lightgrey - HOME => BG explore / how cards inactives /  BG results  + BG MENU */
/* medium grey => BG BODY DESKTOP */
/* dark grey - footer */
/* SPECIFICS =================> use functions instead */
/* lightgrey2 => MOBILE => search bar */
/* grey search icon + placeholder */
/* 
- icons 
<i class="far fa-heart"></i>
<i class="fas fa-mobile-alt"></i>
<i class="fas fa-list-ul"></i>
<i class="fas fa-store"></i>
<i class="fas fa-utensils"></i>
<i class="fas fa-hands-helping"></i>
*/
/* ======================================== */
/* BREAKPOINTS*/
/* ======================================== */
/* == up to 600  */
/* == from 600  */
/* == from 600 to 768 */
/* == from 600 to 1200 */
/* == up to 768  */
/* == from 768 to  1200  */
/* == up to 992  */
/* == up to 1200  */
/* == from 1200  */
/* ======================================== */
/* FLEXBOX */
/* ======================================== */
/* ======================================== */
/* MARGINS  */
/* ======================================== */
/* ======================================== */
/* PADDINGS  */
/* ======================================== */
/* ======================================== */
/* SIZE */
/* ======================================== */
/* ================================== */
/* Fonts */
/* ================================== */
@font-face {
  font-family: "Shrinkhand-regular";
  src: url("assets/fonts/shrinkhand/shrinkhand-regular.ttf") format("ttf");
  src: url("assets/fonts/shrinkhand/shrinkhand-regular.eot") format("eot");
  src: url("assets/fonts/shrinkhand/shrinkhand-regular.woff") format("woff");
}
@font-face {
  font-family: "Roboto-thin";
  src: url("assets/fonts/roboto/roboto-thin.ttf") format("ttf");
  src: url("assets/fonts/roboto/roboto-thin.eot") format("eot");
  src: url("assets/fonts/roboto/roboto-thin.woff") format("woff");
}
@font-face {
  font-family: "Roboto-regular";
  src: url("assets/fonts/roboto/roboto-regular.ttf") format("ttf");
  src: url("assets/fonts/roboto/roboto-regular.eot") format("eot");
  src: url("assets/fonts/roboto/roboto-regular.woff") format("woff");
}
@font-face {
  font-family: "Roboto-medium";
  src: url("assets/fonts/roboto/roboto-medium.ttf") format("ttf");
  src: url("assets/fonts/roboto/roboto-medium.eot") format("eot");
  src: url("assets/fonts/roboto/roboto-medium.woff") format("woff");
}
@font-face {
  font-family: "Roboto-bold";
  src: url("assets/fonts/roboto/roboto-bold.ttf") format("ttf");
  src: url("assets/fonts/roboto/roboto-bold.eot") format("eot");
  src: url("assets/fonts/roboto/roboto-bold.woff") format("woff");
}
/* ================================== */
/* General rules */
/* ================================== */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  scroll-behavior: smooth;
}

html {
  font-size: 14px;
  text-rendering: optimizeLegibility;
}

body {
  margin: auto;
  font-family: "Roboto-regular", Arial, Helvetica, sans-serif;
  background-color: #eaeaea;
  /* search-bar default color with shadow of header */
}

a {
  text-decoration: none;
}

input {
  border: transparent;
  background-color: inherit;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

/* @import "../sass/components/buttons"; */
/* @import "../sass/layouts/header";
@import "../sass/layouts/footer";

@import "../sass/pages/homepage";
@import "../sass/pages/menupage"; */
/* ======================================== */
/* MENU PAGES */
/* ======================================== */
/* ======================================== */
/* STRUCTURE MAIN RESPONSIVE BLOCS */
/* ======================================== */
/* MENU PAGE - TOP IMAGE == any device  =====*/
.main-content-wrapper {
  position: relative;
}

.main-img-wrapper figure {
  height: 255px;
  overflow: hidden;
  padding: 0 !important;
  margin: 0 !important;
}

.main-img-wrapper figure img {
  min-width: 100%;
  max-height: 100%;
  display: block;
  object-fit: cover;
}

/* MENU PAGE - MENU Section == any device  ===== */
.menu {
  background-color: #f6f6f6;
  position: relative;
  top: -60px;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
}

.menu-elements-wrapper {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.menu-bloc h2 {
  font-variant: small-caps;
  /*  border-bottom: 5px solid green; */
}

.menu-bloc h2::after {
  border: 4px solid pink;
}

/* MENU PAGE - MENU Section -> DISH CARDS  == any device  ===== */
.dish-card {
  height: 70px;
  background-color: grey;
  /* border-radius: 25px; */
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 2% auto;
}

.dish-card-txt {
  padding: 14px 0 14px 10px;
  flex-basis: 90%;
  overflow: hidden;
}

.dish-card-txt-details {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.dish-card-txt h3,
.dish-card-txt h4 {
  margin: 0;
  max-height: 1.5em;
  overflow: hidden;
}

.dish-card-txt h3 {
  background-color: violet;
  padding-bottom: 7px;
}

/* dish name */
.dish-card-txt-details h4:nth-child(2) {
  /* dish price */
  background-color: lightblue;
  min-width: 50px;
}

.dish-card-icon {
  width: 60px;
  height: 100%;
  color: #fff;
  background-color: #99E2D0;
  text-align: center;
}

.fas.fa-check-circle {
  font-size: 20px !important;
  line-height: 3.5;
}

/* tests */
.dish-card-txt-details h4 {
  background-color: yellow;
}

/* MENU PAGE - ORDER Section (order btn) == any device  =====*/
.order-btn-wrapper {
  width: 20%;
  margin: 20px auto;
}

/*# sourceMappingURL=ohmyfood-menupage.css.map */
