/* ======================================== */
/* COLOURS */
/* ======================================== */
/* basics */
/* violet */
/* rose */
/* turquoise */
/* lightgrey - HOME => BG explore / how cards inactives /  BG results  + BG MENU */
/* medium grey => BG BODY DESKTOP */
/* dark grey - footer */
/* SPECIFICS =================> use functions instead */
/* lightgrey2 => MOBILE => search bar */
/* grey search icon + placeholder */
/* BTN gradient */
/* 
- icons 
<i class="far fa-heart"></i>
<i class="fas fa-mobile-alt"></i>
<i class="fas fa-list-ul"></i>
<i class="fas fa-store"></i>
<i class="fas fa-utensils"></i>
<i class="fas fa-hands-helping"></i>
*/
/* ======================================== */
/* BREAKPOINTS*/
/* ======================================== */
/* == up to 600  */
/* == from 600  */
/* == from 600 to 768 */
/* == from 600 to 1200 */
/* == up to 768  */
/* == from 768 to  1200  */
/* == up to 992  */
/* == up to 1200  */
/* == from 1200  */
/* ======================================== */
/* FLEXBOX */
/* ======================================== */
/* ======================================== */
/* MARGINS  */
/* ======================================== */
/* ======================================== */
/* PADDINGS  */
/* ======================================== */
/* ======================================== */
/* SIZE */
/* ======================================== */
/* ======================================== */
/* ICONS */
/* ======================================== */
/* ================================== */
/* Fonts */
/* ================================== */
@font-face {
  font-family: "Shrinkhand-regular";
  src: url("../assets/fonts/shrinkhand/shrinkhand-regular.ttf") format("ttf");
  src: url("../assets/fonts/shrinkhand/shrinkhand-regular.eot") format("eot");
  src: url("../assets/fonts/shrinkhand/shrinkhand-regular.woff") format("woff");
}
@font-face {
  font-family: "Roboto-thin";
  src: url("../assets/fonts/roboto/roboto-thin.ttf") format("ttf");
  src: url("../assets/fonts/roboto/roboto-thin.eot") format("eot");
  src: url("../assets/fonts/roboto/roboto-thin.woff") format("woff");
}
@font-face {
  font-family: "Roboto-regular";
  src: url("../assets/fonts/roboto/roboto-regular.ttf") format("ttf");
  src: url("../assets/fonts/roboto/roboto-regular.eot") format("eot");
  src: url("../assets/fonts/roboto/roboto-regular.woff") format("woff");
}
@font-face {
  font-family: "Roboto-medium";
  src: url("../assets/fonts/roboto/roboto-medium.ttf") format("ttf");
  src: url("../assets/fonts/roboto/roboto-medium.eot") format("eot");
  src: url("../assets/fonts/roboto/roboto-medium.woff") format("woff");
}
@font-face {
  font-family: "Roboto-bold";
  src: url("../assets/fonts/roboto/roboto-bold.ttf") format("ttf");
  src: url("../assets/fonts/roboto/roboto-bold.eot") format("eot");
  src: url("../assets/fonts/roboto/roboto-bold.woff") format("woff");
}
/* ================================== */
/* General rules */
/* ================================== */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  scroll-behavior: smooth;
}

html {
  font-size: 14px;
  text-rendering: optimizeLegibility;
}

body {
  margin: auto;
  background-color: #eaeaea;
  /* search-bar default color with shadow of header */
}

a {
  text-decoration: none;
  color: unset;
}

input {
  border: transparent;
  background-color: inherit;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

/* EXPLORE btn == any device  ===== */
.main-btn-wrapper {
  max-width: 50%;
  margin: 20px auto;
  /*  margin-top:20px;margin-bottom:10px; */
}
.main-btn-wrapper .main-btn {
  height: 50px;
  display: block;
  border-radius: 50px;
  border: none;
  padding: 0% 12%;
  background: linear-gradient(170deg, #ff79da 0%, #9356dc 80%);
  color: #fff;
  font-size: 1rem;
}

.header {
  position: relative;
  height: 60px;
  margin-top: 0;
  background-color: #fff;
  box-shadow: 0px 3px 7px #979696;
  /* =====>>>>>>  */
}
@media screen and (min-width: 1199px) {
  .header {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
.header__back-arrow {
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 50px;
  display: flex;
  /* =====>>>>>>  */
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.header__back-arrow .fas.fa-arrow-left {
  font-size: 25px !important;
  color: #353535;
}
.header__logo-wrapper {
  margin: auto;
}
.header__logo-wrapper img {
  margin: auto;
  /* =====>>>>>>  */
  padding-top: 15px;
  display: block;
}
@media screen and (max-width: 1199px) {
  .header__logo-wrapper img {
    max-width: 170px;
  }
}
@media screen and (min-width: 1199px) {
  .header__logo-wrapper img {
    max-width: 215px;
  }
}

.nav {
  background-color: #353535;
}
@media screen and (max-width: 599px) {
  .nav {
    height: 195px;
  }
}
@media screen and (min-width: 599px) {
  .nav {
    height: 140px;
  }
}
.nav__wrapper {
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
}
@media screen and (max-width: 1199px) {
  .nav__wrapper {
    width: 90%;
  }
}
@media screen and (min-width: 1199px) {
  .nav__wrapper {
    width: 80%;
  }
}
.nav__wrapper p {
  margin: 0.5em 0 0 0;
  color: #fff;
}
@media screen and (min-width: 599px) {
  .nav__wrapper ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
}
.nav__logo-wrapper {
  margin: 0 0 1em 0;
}
.nav__logo-wrapper img {
  max-width: 100px;
}

/* =============================================== */
/* HOMEPAGE FONTS RULES  */
/* =============================================== */
.main-content-wrapper.homepage {
  /* -- exceptions / specials --- */
  /* result place */
  /* explore subtitle */
  /* searchbar input */
  /* result card - 'new' tag */
}
.main-content-wrapper.homepage h1, .main-content-wrapper.homepage h2, .main-content-wrapper.homepage h3, .main-content-wrapper.homepage p {
  font-family: "Roboto-medium";
}
.main-content-wrapper.homepage h3 span {
  font-family: "Roboto-thin";
}
.main-content-wrapper.homepage .explore-elements-wrapper p {
  font-family: "Roboto-thin";
}
.main-content-wrapper.homepage .input-container input[placeholder] {
  font-size: 14px;
  font-family: "Roboto-medium";
}
.main-content-wrapper.homepage .new-tag p {
  color: #278870;
}

/* =============================================== */
/* ===  HOMEPAGE -  MAIN SECTIONS === */
/* =============================================== */
/* ===  HOMEPAGE -  MAIN SECTIONS COMMON RULES === */
/* HOMEPAGE - MAIN SECTIONS == any device  ===== */
/* all sections content */
.explore-elements-wrapper,
.results-section {
  background-color: #f6f6f6;
}

.how-section {
  background-color: #fff;
}

.explore-elements-wrapper,
.how-section__wrapper,
.results-section__wrapper,
.explore-elements-wrapper * {
  margin-left: auto;
  margin-right: auto;
}

/* =FYI= */
/* .nav__wrapper { @include mlmr-auto; padding-top: 25px; } */
/* HOMEPAGE - MAIN SECTIONS == up to 600 ---  */
@media only screen and (max-width: 600px) {
  .explore-elements-wrapper,
.how-section__wrapper,
.results-section__wrapper {
    padding-top: 35px;
    padding-bottom: 50px;
  }
}
/* HOMEPAGE - MAIN SECTIONS == up to 1200  ---- */
@media only screen and (max-width: 1200px) {
  .how-section__wrapper,
.results-section__wrapper {
    width: 90%;
  }

  .explore-elements-wrapper * {
    margin-left: auto;
    margin-right: auto;
  }

  /* =FYI= .nav__wrapper (footer) { width: 90%; padding-top: 25px; } */
}
/* HOMEPAGE - MAIN SECTIONS == from 600 to 1200 ---  */
@media only screen and (min-width: 601px) {
  /* all sections content */
  .explore-elements-wrapper,
.how-section__wrapper,
.results-section__wrapper {
    padding-top: 15px;
    padding-bottom: 35px;
  }
}
/* HOMEPAGE - MAIN SECTIONS == 1200 and up ---  */
@media only screen and (min-width: 1201px) {
  body {
    background-color: #cbcbcb;
  }

  .main-content-wrapper {
    background-color: #f6f6f6;
  }

  .main-content-wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  /* all sections titles  */
  h2 {
    text-align: center;
  }
}
/* EXPLORE SECTION ===== */
/* ===================== */
/* EXPLORE SECTION ELEMENTS  == any device  ===== */
.explore-elements-wrapper {
  text-align: center;
}

/* search-bar == any device  ===== */
.search-bar__elements-container {
  display: flex;
  flex-flow: row nowrap;
  /* =====>>>>>>  */
  justify-content: center;
  margin: 15px 0px 15px 50px;
}
.search-bar__elements-container .icon, .search-bar__elements-container .input-container {
  height: 20px;
}
.search-bar__elements-container .icon {
  width: 20px;
  /* center icon inside its container */
  /* =====>>>>>>  */
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

/* EXPLORE search-bar  == from 600 : search-bar goes below explore btn --- */
@media only screen and (min-width: 601px) {
  .explore-section {
    display: flex;
    flex-flow: column nowrap;
  }

  .search-bar {
    order: 2;
  }
}
/* EXPLORE search-bar  == from 768 to  1200 --- */
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .search-bar {
    width: 80%;
    margin: 10px auto;
  }
}
/* EXPLORE search-bar  == 1200 and up --- */
@media only screen and (min-width: 1200px) {
  .search-bar {
    width: 60%;
    margin: 35px auto;
  }
}
/* EXPLORE TEXT === up to 600  ----  */
@media only screen and (max-width: 600px) {
  .explore-elements-wrapper h1 {
    width: 230px;
  }

  .explore-elements-wrapper p {
    width: 300px;
  }
}
/* EXPLORE SECTION == from 600 and up --- */
@media only screen and (min-width: 601px) {
  .explore-elements-wrapper {
    width: 100%;
  }
}
/* EXPLORE SECTION == 1200 and up --- */
@media only screen and (min-width: 1201px) {
  .explore-section {
    display: flex;
    flex-flow: column nowrap;
  }

  .search-bar {
    order: 2;
  }

  /* search-bar goes below explore btn */
  .explore-elements-wrapper {
    padding-bottom: 0;
  }

  .explore-elements-wrapper h1,
.explore-elements-wrapper p {
    width: unset;
  }

  /* one-liners  */
  .explore-elements-wrapper h1 {
    margin-bottom: 0;
  }

  .explore-elements-wrapper p {
    margin-top: 0;
  }
}
/*  HOW SECTION  */
/* ============= */
.how-section {
  /* =====>>>>>>  */
}
@media screen and (min-width: 1199px) {
  .how-section {
    width: 95%;
    margin: auto;
  }
}
.how-section__wrapper {
  /* =====>>>>>>  */
  /* =====>>>>>>  */
  /* =====>>>>>>  */
}
@media screen and (min-width: 599px) and (max-width: 767px) {
  .how-section__wrapper {
    width: 80%;
    margin: auto;
  }
}
@media screen and (min-width: 767px) and (max-width: 1199px) {
  .how-section__wrapper {
    width: 60%;
    margin: auto;
  }
}
@media screen and (min-width: 1199px) {
  .how-section__wrapper {
    width: 50%;
    margin: auto;
  }
}
.how-section__cards-wrapper {
  width: 90%;
  margin: auto;
}
.how-section__card {
  position: relative;
  border: 2px solid pink;
  height: 75px;
  background-color: #f6f6f6;
  margin-bottom: 20px;
  /* =====>>>>>>  */
}
.how-section__card .card-elements {
  background-color: lightyellow;
  margin: 25px auto;
  /* =====>>>>>>  */
  height: 25px;
  display: flex;
  flex-flow: row nowrap;
  /* =====>>>>>>  */
}
.how-section__card .card-elements .card-number {
  background-color: salmon;
  width: 25px;
  height: 25px;
  position: absolute;
  transform: translateX(-17px);
  color: #fff;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.how-section__card .card-elements .card-icon {
  background-color: yellow;
  width: 35px;
  height: 25px;
  margin: auto 25px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.how-section__card .card-elements .card-icon .fas {
  font-size: 1.3rem;
}
.how-section__card .card-elements .card-txt {
  min-width: 175px;
}
.how-section__card .card-elements .card-txt p {
  margin: 0;
  padding: 1%;
}

/* RESULTS SECTION */
/* ===================== */
/* RESULTS SECTION == any device  =====   */
.results-section__card {
  height: 250px;
  position: relative;
  border: 2px solid violet;
}
@media screen and (max-width: 599px) {
  .results-section__card {
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 599px) and (max-width: 1199px) {
  .results-section__card {
    margin-bottom: 20px;
  }
}
.results-section__card a {
  display: block;
  height: 100%;
  width: 100%;
}
.results-section__card .new-tag, .results-section__card .heart-icon {
  position: absolute;
  z-index: 2;
}
.results-section__card .new-tag {
  width: 80px;
  height: 30px;
  top: 15px;
  right: 10px;
  background-color: #99E2D0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  /* =====>>>>>> IS 'center element' */
}
.results-section__card .new-tag p {
  margin: 0;
}
.results-section__card .heart-icon {
  font-size: 1.8rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  bottom: 25px;
  right: 20px;
  width: 30px;
  height: 30px;
  background-color: yellow;
}
.results-section__card figure {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}
.results-section__card figure img {
  background-color: lavender;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: bottom;
  display: block;
  overflow: hidden;
}
.results-section__card figure figcaption {
  background-color: pink;
  width: 100%;
  height: 80px;
  position: absolute;
  /* =====>>>>>>  */
  display: block;
  margin: 0;
  bottom: 0;
  left: 0;
}
.results-section__card figure figcaption h3 {
  margin-left: 15px;
  line-height: 1.8rem;
}

/* RESULTS SECTION == from 600 and up : results on rows ---  */
@media only screen and (min-width: 600px) {
  .results-section__cards-wrapper {
    /* @include flex(row, nowrap); */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
}
/* RESULTS SECTION == from 600 to 1200 : results on rows of 2 ---  */
@media only screen and (min-width: 601px) and (max-width: 1199px) {
  .results-section__card {
    flex-basis: 48%;
  }
}
/* RESULTS SECTION == 1200 and up : results on rows of 4 ---  */
@media only screen and (min-width: 1200px) {
  .results-section__cards-wrapper {
    background-color: lightblue;
    width: 95%;
    margin: auto;
  }

  .results-section__card {
    flex-basis: 24%;
  }
}
/* =============================================== */
/* MENUPAGE - FONTS RULES  */
/* =============================================== */
.main-content-wrapper.menupage {
  /* dish types */
  /* dish names */
  /* dish subtitle + price  */
  /* dish price */
  /* -- exceptions / specials --- */
  /* dish types underlining  */
}
.main-content-wrapper.menupage h1 {
  font-family: "Shrinkhand-regular";
  font-size: 2em;
  font-weight: normal;
  color: black;
}
@media screen and (min-width: 599px) {
  .main-content-wrapper.menupage h1 {
    font-size: 2.5em;
  }
}
.main-content-wrapper.menupage h2 {
  font-family: "Roboto-thin";
  font-variant: small-caps;
}
.main-content-wrapper.menupage h3 {
  font-family: "Roboto-medium";
  font-weight: normal;
}
.main-content-wrapper.menupage h4 {
  font-family: "Roboto-thin";
}
.main-content-wrapper.menupage .dish-card-txt-details h4:nth-child(2) {
  font-family: "Roboto-medium";
}
.main-content-wrapper.menupage .menu-bloc {
  position: relative;
}
.main-content-wrapper.menupage .menu-bloc h2::after {
  width: 40px;
  position: absolute;
  content: "";
  border-bottom: 3px solid #99E2D0;
  left: 0;
  top: 30px;
}

/* ======================================== */
/* MENU PAGES -  MAIN SECTIONS === */
/* ======================================== */
/* MENU PAGE - TOP IMAGE == any device  =====*/
.main-content-wrapper {
  position: relative;
}

.main-img-wrapper figure {
  height: 255px;
  overflow: hidden;
  padding: 0 !important;
  margin: 0 !important;
}

.main-img-wrapper figure img {
  min-width: 100%;
  max-height: 100%;
  display: block;
  object-fit: cover;
}

/* MENU PAGE - MENU Section == any device  ===== */
.menu {
  background-color: #f6f6f6;
  position: relative;
  top: -60px;
  padding-top: 20px;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
}

.menu-elements-wrapper {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.menu-elements-wrapper .menu-name-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.menu-elements-wrapper .menu-name-wrapper .heart-icon {
  font-size: 2rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

/* MENU PAGE - MENU Section -> DISH CARDS  == any device  ===== */
.dish-card {
  height: 70px;
  background-color: grey;
  /* border-radius: 25px; */
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 2% auto;
}

.dish-card-txt {
  padding: 14px 0 14px 10px;
  flex-basis: 90%;
  overflow: hidden;
}

.dish-card-txt-details {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.dish-card-txt h3,
.dish-card-txt h4 {
  margin: 0;
  max-height: 1.5em;
  overflow: hidden;
}

.dish-card-txt h3 {
  background-color: violet;
  padding-bottom: 7px;
}

/* dish name */
.dish-card-txt-details h4:nth-child(2) {
  /* dish price */
  background-color: lightblue;
  min-width: 50px;
}

.dish-card-icon {
  width: 60px;
  height: 100%;
  color: #fff;
  background-color: #99E2D0;
  text-align: center;
}

.fas.fa-check-circle {
  font-size: 20px !important;
  line-height: 3.5;
}

/* tests */
.dish-card-txt-details h4 {
  background-color: yellow;
}

/*  MENU PAGE - ORDER Section */
.order {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/*# sourceMappingURL=ohmyfood-main.css.map */
