/* ======================================== */
/* COLOURS */
/* ======================================== */
/* basics */
/* violet */
/* rose */
/* turquoise */
/* lightgrey - HOME => BG explore / how cards inactives /  BG results  + BG MENU */
/* medium grey => BG BODY DESKTOP */
/* dark grey - footer */
/* SPECIFICS =================> use functions instead */
/* lightgrey2 => MOBILE => search bar */
/* grey search icon + placeholder */
/* BTN gradient */
/* 
@function anim-delay($delay) {

} */
/* ======================================== */
/* BREAKPOINTS*/
/* ======================================== */
/* == up to 600  */
/* == from 600  */
/* == from 600 to 768 */
/* == from 600 to 1200 */
/* == up to 768  */
/* == from 768 to  1200  */
/* == up to 992  */
/* == up to 1200  */
/* == from 1200  */
/* ======================================== */
/* FLEXBOX */
/* ======================================== */
/* ======================================== */
/* MARGINS  */
/* ======================================== */
/* ======================================== */
/* PADDINGS  */
/* ======================================== */
/* ======================================== */
/* SIZE */
/* ======================================== */
/* ======================================== */
/* ICONS */
/* ======================================== */
/* ======================================== */
/* BORDER-RADIUS */
/* ======================================== */
/* ======================================== */
/* EFFECTS */
/* ======================================== */
/* ================================== */
/* Fonts */
/* ================================== */
@font-face {
  font-family: "Shrinkhand-regular";
  src: url("../assets/fonts/shrinkhand/shrinkhand-regular.ttf") format("ttf");
  src: url("../assets/fonts/shrinkhand/shrinkhand-regular.eot") format("eot");
  src: url("../assets/fonts/shrinkhand/shrinkhand-regular.woff") format("woff");
}
@font-face {
  font-family: "Roboto-thin";
  src: url("../assets/fonts/roboto/roboto-thin.ttf") format("ttf");
  src: url("../assets/fonts/roboto/roboto-thin.eot") format("eot");
  src: url("../assets/fonts/roboto/roboto-thin.woff") format("woff");
}
@font-face {
  font-family: "Roboto-regular";
  src: url("../assets/fonts/roboto/roboto-regular.ttf") format("ttf");
  src: url("../assets/fonts/roboto/roboto-regular.eot") format("eot");
  src: url("../assets/fonts/roboto/roboto-regular.woff") format("woff");
}
@font-face {
  font-family: "Roboto-medium";
  src: url("../assets/fonts/roboto/roboto-medium.ttf") format("ttf");
  src: url("../assets/fonts/roboto/roboto-medium.eot") format("eot");
  src: url("../assets/fonts/roboto/roboto-medium.woff") format("woff");
}
@font-face {
  font-family: "Roboto-bold";
  src: url("../assets/fonts/roboto/roboto-bold.ttf") format("ttf");
  src: url("../assets/fonts/roboto/roboto-bold.eot") format("eot");
  src: url("../assets/fonts/roboto/roboto-bold.woff") format("woff");
}
/* ================================== */
/* General rules */
/* ================================== */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  scroll-behavior: smooth;
}

html {
  font-size: 14px;
  text-rendering: optimizeLegibility;
}

body {
  margin: auto;
}

a {
  text-decoration: none;
  color: unset;
  cursor: pointer;
}

input {
  border: transparent;
  background-color: inherit;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

button {
  display: block;
  border: none;
  cursor: pointer;
}

/* EXPLORE btn == any device  ===== */
.main-btn-wrapper {
  margin: 20px auto;
}
.main-btn-wrapper .main-btn {
  height: 50px;
  padding: 0% 12%;
  border-radius: 50px;
  background: linear-gradient(170deg, #FF79DA 0%, #9356DC 80%);
  color: #fff;
  font-size: 1rem;
  box-shadow: 0px 7px 10px #cbcbcb;
}
.main-btn-wrapper .main-btn:hover {
  background: linear-gradient(170deg, #fface8 0%, #ae80e5 80%);
  box-shadow: 0px 7px 10px #828282;
  text-shadow: 0px 2px 15px #353535;
}

.spinner-wrapper {
  animation: loading-block 3s forwards;
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  margin-top: 15px;
  background-color: #fff;
}
.spinner-wrapper__anim-wrapper {
  width: 30%;
  height: 60%;
  margin: auto;
}
.spinner-wrapper__anim-wrapper__icons-wrapper {
  /* border: 5px solid lightblue; */
  color: #9356DC;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 30%;
}
@media screen and (max-width: 599px) {
  .spinner-wrapper__anim-wrapper__icons-wrapper {
    font-size: 60px;
  }
}
@media screen and (min-width: 599px) {
  .spinner-wrapper__anim-wrapper__icons-wrapper {
    font-size: 70px;
  }
}
.spinner-wrapper__anim-wrapper__icons-wrapper i.fas {
  position: absolute;
}
.spinner-wrapper__anim-wrapper__icons-wrapper i.fas.fa-mobile-alt {
  opacity: 0;
  animation: spinner-icons 1s forwards;
}
.spinner-wrapper__anim-wrapper__icons-wrapper i.fa-store {
  opacity: 0;
  animation: spinner-icons 1s 1s forwards;
}
.spinner-wrapper__anim-wrapper__icons-wrapper i.fa-utensils {
  opacity: 0;
  animation: spinner-icons 1s 2s forwards;
}

/* animation loading block */
@keyframes loading-block {
  from {
    visibility: visible;
  }
  to {
    visibility: hidden;
  }
}
/* animation icons */
@keyframes spinner-icons {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
header {
  position: relative;
  z-index: 2;
  /* to make box-shadow visible  */
  height: 60px;
  margin-top: 0;
  background-color: #fff;
  box-shadow: 0px 3px 7px #979696;
  /* =====>>>>>>  */
}
header .header__logo-wrapper {
  margin: auto;
}
header .header__logo-wrapper img {
  margin: auto;
  /* =====>>>>>>  */
  padding-top: 15px;
  display: block;
}
@media screen and (max-width: 1199px) {
  header .header__logo-wrapper img {
    max-width: 170px;
  }
}
@media screen and (min-width: 1199px) {
  header .header__logo-wrapper img {
    max-width: 215px;
  }
}
header .header .menupage {
  height: 60px;
}
@media screen and (min-width: 1199px) {
  header .header .menupage {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
header .header__back-arrow {
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 50px;
  display: flex;
  /* =====>>>>>>  */
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
header .header__back-arrow .fas.fa-arrow-left {
  font-size: 25px !important;
  color: #353535;
}

.nav {
  background-color: #353535;
}
@media screen and (max-width: 599px) {
  .nav {
    height: 195px;
  }
}
@media screen and (min-width: 599px) {
  .nav {
    height: 140px;
  }
}
.nav__wrapper {
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
}
@media screen and (max-width: 1199px) {
  .nav__wrapper {
    width: 90%;
  }
}
@media screen and (min-width: 1199px) {
  .nav__wrapper {
    width: 80%;
  }
}
.nav__wrapper p {
  margin: 0.5em 0 0 0;
  color: #fff;
}
.nav__wrapper ul {
  /* icon + text = online */
  /* fonts */
}
@media screen and (min-width: 599px) {
  .nav__wrapper ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
}
.nav__wrapper ul li a i, .nav__wrapper ul li a p {
  display: inline-block;
}
.nav__wrapper ul li a i {
  color: #fff;
}
.nav__wrapper ul i.fas {
  width: 15px;
  margin-left: 5px;
}
.nav__wrapper ul li a p {
  padding: 0px 5px;
}
.nav__wrapper ul li:nth-child(1), .nav__wrapper ul li:nth-child(2) {
  font-family: "Roboto-medium";
}
.nav__wrapper ul li:nth-child(3), .nav__wrapper ul li:nth-child(4) {
  font-family: "Roboto-regular";
}
.nav__logo-wrapper {
  margin: 0 0 1em 0;
}
.nav__logo-wrapper img {
  max-width: 100px;
}

/* =============================================== */
/* HOMEPAGE FONTS RULES  */
/* =============================================== */
.main-content-wrapper.homepage {
  /* -- exceptions / specials --- */
  /* result place */
  /* explore subtitle */
  /* searchbar input */
  /* result card - 'new' tag */
}
.main-content-wrapper.homepage h1, .main-content-wrapper.homepage h2, .main-content-wrapper.homepage h3, .main-content-wrapper.homepage p {
  font-family: "Roboto-medium";
}
.main-content-wrapper.homepage h3 span {
  font-family: "Roboto-thin";
}
.main-content-wrapper.homepage .explore-elements-wrapper p {
  font-family: "Roboto-thin";
}
.main-content-wrapper.homepage .input-container input[placeholder] {
  font-size: 14px;
  font-family: "Roboto-medium";
}
.main-content-wrapper.homepage .new-tag p {
  color: #278870;
}

/* =============================================== */
/* ===  HOMEPAGE -  MAIN SECTIONS === */
/* =============================================== */
/* search-bar default color with shadow of header */
body {
  background-color: #eaeaea;
}

/* HOMEPAGE - MAIN SECTIONS == any device  ===== */
/* all sections content */
.explore-elements-wrapper,
.results-section {
  background-color: #f6f6f6;
}

.how-section {
  background-color: #fff;
}

.explore-elements-wrapper,
.how-section__wrapper,
.results-section__wrapper,
.explore-elements-wrapper * {
  margin-left: auto;
  margin-right: auto;
}

/* =FYI= */
/* .nav__wrapper { @include mlmr-auto; padding-top: 25px; } */
/* HOMEPAGE - MAIN SECTIONS == up to 600 ---  */
@media only screen and (max-width: 600px) {
  .explore-elements-wrapper,
.how-section__wrapper,
.results-section__wrapper {
    padding-top: 35px;
    padding-bottom: 50px;
  }
}
/* HOMEPAGE - MAIN SECTIONS == up to 1200  ---- */
@media only screen and (max-width: 1200px) {
  .how-section__wrapper,
.results-section__wrapper {
    width: 90%;
  }

  .explore-elements-wrapper * {
    margin-left: auto;
    margin-right: auto;
  }

  /* =FYI= .nav__wrapper (footer) { width: 90%; padding-top: 25px; } */
}
/* HOMEPAGE - MAIN SECTIONS == from 600 to 1200 ---  */
@media only screen and (min-width: 601px) {
  /* all sections content */
  .explore-elements-wrapper,
.how-section__wrapper,
.results-section__wrapper {
    padding-top: 15px;
    padding-bottom: 35px;
  }
}
/* HOMEPAGE - MAIN SECTIONS == 1200 and up ---  */
@media only screen and (min-width: 1201px) {
  body {
    background-color: #cbcbcb;
  }

  .main-content-wrapper {
    background-color: #f6f6f6;
  }

  .main-content-wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  /* all sections titles  */
  h2 {
    text-align: center;
  }
}
/* EXPLORE SECTION ===== */
/* ===================== */
@media screen and (min-width: 599px) {
  .explore-section {
    display: flex;
    flex-flow: column nowrap;
  }
}
.explore-section .search-bar {
  /* from 600 search-bar goes below explore btn */
}
@media screen and (min-width: 599px) {
  .explore-section .search-bar {
    order: 2;
  }
}
@media screen and (min-width: 767px) and (max-width: 1199px) {
  .explore-section .search-bar {
    width: 80%;
    margin: 10px auto;
  }
}
@media screen and (min-width: 1199px) {
  .explore-section .search-bar {
    width: 95%;
    margin: 35px auto;
    background-color: #eaeaea;
  }
}
.explore-section .search-bar__elements-container {
  display: flex;
  flex-flow: row nowrap;
  /* =====>>>>>>  */
  justify-content: center;
  padding: 15px 0px 15px 50px;
}
.explore-section .search-bar__elements-container .icon, .explore-section .search-bar__elements-container .input-container {
  height: 20px;
}
.explore-section .search-bar__elements-container .icon {
  width: 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.explore-section .explore-elements-wrapper {
  text-align: center;
}
@media screen and (min-width: 599px) {
  .explore-section .explore-elements-wrapper {
    width: 100%;
  }
}
@media screen and (min-width: 1199px) {
  .explore-section .explore-elements-wrapper {
    padding-bottom: 0;
  }
}
@media screen and (max-width: 599px) {
  .explore-section .explore-elements-wrapper h1 {
    width: 230px;
  }
}
@media screen and (min-width: 1199px) {
  .explore-section .explore-elements-wrapper h1 {
    width: unset;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 599px) {
  .explore-section .explore-elements-wrapper p {
    width: 300px;
  }
}
@media screen and (min-width: 1199px) {
  .explore-section .explore-elements-wrapper p {
    width: unset;
    margin-top: 0;
  }
}

/*  HOW SECTION  */
/* ============= */
.how-section {
  /* =====>>>>>>  */
}
@media screen and (min-width: 1199px) {
  .how-section {
    width: 95%;
    margin: auto;
  }
}
.how-section__wrapper {
  /* =====>>>>>>  */
  /* =====>>>>>>  */
  /* =====>>>>>>  */
}
@media screen and (min-width: 599px) and (max-width: 767px) {
  .how-section__wrapper {
    width: 80%;
    margin: auto;
  }
}
@media screen and (min-width: 767px) and (max-width: 1199px) {
  .how-section__wrapper {
    width: 60%;
    margin: auto;
  }
}
@media screen and (min-width: 1199px) {
  .how-section__wrapper {
    width: 50%;
    margin: auto;
  }
}
.how-section__cards-wrapper {
  width: 90%;
  margin: auto;
}
.how-section__card {
  position: relative;
  border: 2px solid transparent;
  /* removing the border fs up layout !- > ?? */
  border-radius: 20px;
  height: 75px;
  background-color: #f6f6f6;
  margin-bottom: 20px;
  /* =====>>>>>>  */
  box-shadow: 0px 7px 10px #cbcbcb;
}
.how-section__card .card-elements {
  margin: 25px auto;
  /* =====>>>>>>  */
  height: 25px;
  display: flex;
  flex-flow: row nowrap;
  /* =====>>>>>>  */
}
@media screen and (min-width: 599px) {
  .how-section__card .card-elements {
    justify-content: center;
  }
}
.how-section__card .card-elements .card-number {
  background-color: #9356DC;
  width: 25px;
  height: 25px;
  position: absolute;
  transform: translateX(-17px);
  color: #fff;
  border-radius: 50%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  font-family: "Roboto-medium";
}
@media screen and (min-width: 599px) {
  .how-section__card .card-elements .card-number {
    transform: translateX(0px);
    left: 15%;
  }
}
.how-section__card .card-elements .card-icon {
  width: 35px;
  height: 25px;
  margin: auto 25px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.how-section__card .card-elements .card-icon .fas {
  font-size: 1.3rem;
}
.how-section__card .card-elements .card-txt {
  min-width: 175px;
}
.how-section__card .card-elements .card-txt p {
  margin: 0;
  padding: 1%;
}

/* RESULTS SECTION */
/* ===================== */
@media screen and (min-width: 599px) {
  .results-section__cards-wrapper {
    /* results => rows */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1199px) {
  .results-section__cards-wrapper {
    width: 95%;
    margin: auto;
  }
}
.results-section__card {
  height: 250px;
  position: relative;
  /* border: 2px solid violet; */
  box-shadow: 0px 7px 10px #cbcbcb;
}
@media screen and (max-width: 599px) {
  .results-section__card {
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 599px) and (max-width: 1199px) {
  .results-section__card {
    margin-bottom: 20px;
    flex-basis: 48%;
  }
}
@media screen and (min-width: 1199px) {
  .results-section__card {
    flex-basis: 24%;
  }
}
.results-section__card a {
  display: block;
  height: 100%;
  width: 100%;
}
.results-section__card .new-tag, .results-section__card .heart-icon {
  position: absolute;
  z-index: 2;
}
.results-section__card .new-tag {
  width: 80px;
  height: 30px;
  top: 15px;
  right: 10px;
  background-color: #99E2D0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  /* =====>>>>>> IS 'center element' */
}
.results-section__card .new-tag p {
  margin: 0;
}
.results-section__card .heart-icon {
  font-size: 1.8rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  bottom: 25px;
  right: 20px;
  width: 30px;
  height: 30px;
  /*  icon effect  */
  /* .far = outline */
  /* .fas = solid */
}
.results-section__card .heart-icon .fas, .results-section__card .heart-icon .far {
  position: absolute;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
.results-section__card .heart-icon .far:hover {
  opacity: 0;
}
.results-section__card .heart-icon .fas {
  opacity: 0;
}
.results-section__card .heart-icon .fas:hover {
  opacity: 1;
  color: #FF79DA;
  /*  text-shadow: 1px 1px white, -5px -5px $primary; (interesting) */
}
.results-section__card figure {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
  border-radius: 15px;
}
.results-section__card figure img {
  /* background-color:lavender; */
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: bottom;
  display: block;
  overflow: hidden;
}
.results-section__card figure figcaption {
  background-color: #fff;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 100%;
  height: 80px;
  position: absolute;
  /* =====>>>>>>  */
  display: block;
  margin: 0;
  bottom: 0;
  left: 0;
}
.results-section__card figure figcaption h3 {
  margin-left: 15px;
  line-height: 1.8rem;
}

/* =============================================== */
/* MENUPAGE - FONTS RULES  */
/* =============================================== */
.main-content-wrapper.menupage {
  /* dish types */
  /* dish names */
  /* dish subtitle  */
  /* dish price */
  /* -- exceptions / specials --- */
  /* dish types underlining  */
}
.main-content-wrapper.menupage h1 {
  font-family: "Shrinkhand-regular";
  font-size: 2em;
  font-weight: normal;
  color: black;
}
@media screen and (min-width: 599px) {
  .main-content-wrapper.menupage h1 {
    font-size: 2.5em;
  }
}
.main-content-wrapper.menupage h2 {
  font-family: "Roboto-thin";
  font-variant: small-caps;
}
.main-content-wrapper.menupage h3 {
  font-family: "Roboto-medium";
  font-weight: normal;
}
.main-content-wrapper.menupage h4 {
  font-family: "Roboto-thin";
}
.main-content-wrapper.menupage .dish-card__txt__details h4:nth-child(2) {
  font-family: "Roboto-medium";
  font-weight: normal;
}
.main-content-wrapper.menupage .menu-bloc {
  position: relative;
}
.main-content-wrapper.menupage .menu-bloc h2::after {
  width: 40px;
  position: absolute;
  content: "";
  border-bottom: 3px solid #99E2D0;
  left: 0;
  top: 30px;
}

/* ======================================== */
/* MENU PAGES -  MAIN SECTIONS === */
/* ======================================== */
/* body .menupage { background-color: $lightgrey; } */
/* MENU PAGE - TOP IMAGE == any device  =====*/
.main-content-wrapper {
  position: relative;
}

.main-img-wrapper figure {
  height: 255px;
  overflow: hidden;
  padding: 0 !important;
  margin: 0 !important;
}

.main-img-wrapper figure img {
  min-width: 100%;
  max-height: 100%;
  display: block;
  object-fit: cover;
}

.menu, .order {
  background-color: #f6f6f6;
}

/* MENU PAGE - MENU Section == any device  ===== */
.menu {
  position: relative;
  top: -60px;
  padding-top: 20px;
  border-radius: 50px 50px 0px 0px;
}
.menu__elements-wrapper {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.menu__name-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.menu__name-wrapper .heart-icon {
  font-size: 2rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  /*  icon effect  */
  /* outline */
  /* solid */
}
.menu__name-wrapper .heart-icon .fas, .menu__name-wrapper .heart-icon .far {
  position: absolute;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
.menu__name-wrapper .heart-icon .far:hover {
  opacity: 0;
}
.menu__name-wrapper .heart-icon .fas {
  opacity: 0;
}
.menu__name-wrapper .heart-icon .fas:hover {
  opacity: 1;
  color: #FF79DA;
  /*  text-shadow: 1px 1px white, -5px -5px $primary; (interesting) */
}

/* MENU PAGE - MENU Section -> DISH CARDS  == any device  ===== */
.dish-card {
  /* open page - Dish cards animation  */
  position: relative;
  /* for anim purpose */
  animation: dish-appear 1s ease-in forwards;
  height: 70px;
  margin: 2% auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 7px 10px #cbcbcb;
}
.dish-card .dish-card {
  animation-delay: 0.5s;
}
.dish-card .dish-card {
  animation-delay: 1s;
}
.dish-card .dish-card {
  animation-delay: 1.5s;
}
.dish-card .dish-card {
  animation-delay: 2s;
}
.dish-card .dish-card {
  animation-delay: 2.5s;
}
.dish-card .dish-card {
  animation-delay: 3s;
}
.dish-card .dish-card {
  animation-delay: 3.5s;
}
.dish-card .dish-card {
  animation-delay: 4s;
}
.dish-card .dish-card {
  animation-delay: 4.5s;
}
.dish-card__txt {
  padding: 14px 0 14px 10px;
  flex-basis: 100%;
  border-radius: 15px;
  z-index: 2;
  overflow: hidden;
  background-color: #fff;
  /* anim dish select */
}
@media screen and (min-width: 599px) {
  .dish-card__txt {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }
}
.dish-card__txt h3, .dish-card__txt h4 {
  margin: 0;
  max-height: 1.5em;
  overflow: hidden;
}
.dish-card__txt h3 {
  /* dish name */
  padding-bottom: 7px;
}
@media screen and (min-width: 599px) {
  .dish-card__txt h3 {
    margin-right: 20px;
  }
}
@media screen and (max-width: 599px) {
  .dish-card__txt:hover {
    flex-basis: 80%;
  }
}
@media screen and (min-width: 599px) {
  .dish-card__txt:hover {
    flex-basis: 90%;
  }
}
.dish-card__txt__details {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
@media screen and (min-width: 599px) {
  .dish-card__txt__details {
    flex: auto;
  }
}
.dish-card__txt__details h4:nth-child(1) {
  /* dish subtitle */
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dish-card__txt__details h4:nth-child(2) {
  /* dish price */
  min-width: 50px;
  margin-left: 5px;
}
@media screen and (min-width: 599px) {
  .dish-card__txt__details h4:nth-child(2) {
    margin-right: 5px;
  }
}
.dish-card__icon {
  height: 100%;
  color: #fff;
  background-color: #99E2D0;
  text-align: center;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  /* anim check dish */
  width: 0px;
  display: flex;
  flex-basis: 0;
}
.dish-card__icon .fas.fa-check-circle {
  font-size: 20px !important;
  line-height: 3.5;
  visibility: hidden;
}
.dish-card:hover .dish-card__icon {
  flex-basis: 20%;
  overflow: hidden;
}
.dish-card:hover .dish-card__icon .fas.fa-check-circle {
  visibility: visible;
}
.dish-card:hover .dish-card__icon i.fas.fa-check-circle {
  visibility: visible;
  transform: rotate(360deg);
}

/* open page - Dish cards appearing animation  */
@keyframes dish-appear {
  from {
    top: 20px;
    opacity: 0;
  }
  to {
    top: 0px;
    opacity: 1;
  }
}
/*  MENU PAGE - ORDER Section */
.order * {
  margin-left: auto;
  margin-right: auto;
}

/*# sourceMappingURL=ohmyfood-main.css.map */
