
/* HEADER */


/* HEADER == any device  ===== */
.header { 
    height: 60px;
    margin-top: 0;
    background-color: #fff;
    box-shadow: 0px 3px 7px #979696;       /* =====>>>>>>  */
    &__logo-wrapper img {
            margin: auto;
            padding-top: 15px;
            display: block;
        }
}

/* HEADER == up to 1200  */
@media only screen and (max-width: 1200px) {
    .header__logo-wrapper img { max-width: 170px;}
}

/* HEADER == 1200 and up  */
@media only screen and (min-width: 1200px) {
    .header__logo-wrapper img { max-width: 215px;}
}