
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {} 

/* 
- Primaire:  #9356DC (violet)
- Secondaire:#FF79DA (rose)
- Tertiaire: #99E2D0 (turquoise)

- gris dark: #353535 FOOTER
- gris light: #f6f6f6  HOME => BG explore / how cards inactives /  BG results  + BG MENU 
- gris light 2 : #eaeaea MOBILE => search bar

- gris moyen #cbcbcb => BG BODY DESKTOP

- icons 
<i class="far fa-heart"></i>
<i class="fas fa-mobile-alt"></i>
<i class="fas fa-list-ul"></i>
<i class="fas fa-store"></i>
<i class="fas fa-utensils"></i>
<i class="fas fa-hands-helping"></i>

*/


/* ================================== */
/* ================================== */
/* Fonts */
/* ================================== */
/* ================================== */

@font-face { 
    font-family:'Shrinkhand-regular';
    src: url('assets/fonts/shrinkhand/shrinkhand-regular.ttf') format('ttf');
    src: url('assets/fonts/shrinkhand/shrinkhand-regular.eot') format('eot');
    src: url('assets/fonts/shrinkhand/shrinkhand-regular.woff') format('woff');
}
@font-face { 
    font-family:'Roboto-thin';
    src: url('assets/fonts/roboto/roboto-thin.ttf') format('ttf');
    src: url('assets/fonts/roboto/roboto-thin.eot') format('eot');
    src: url('assets/fonts/roboto/roboto-thin.woff') format('woff');
}
@font-face { 
    font-family:'Roboto-regular';
    src: url('assets/fonts/roboto/roboto-regular.ttf') format('ttf');
    src: url('assets/fonts/roboto/roboto-regular.eot') format('eot');
    src: url('assets/fonts/roboto/roboto-regular.woff') format('woff');
}
@font-face { 
    font-family:'Roboto-medium';
    src: url('assets/fonts/roboto/roboto-medium.ttf') format('ttf');
    src: url('assets/fonts/roboto/roboto-medium.eot') format('eot');
    src: url('assets/fonts/roboto/roboto-medium.woff') format('woff');
}
@font-face { 
    font-family:'Roboto-bold';
    src: url('assets/fonts/roboto/roboto-bold.ttf') format('ttf');
    src: url('assets/fonts/roboto/roboto-bold.eot') format('eot');
    src: url('assets/fonts/roboto/roboto-bold.woff') format('woff');
}


/* ================================== */
/* ================================== */
/* General rules */
/* ================================== */
/* ================================== */

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;

    scroll-behavior: smooth;
}

html {
    font-size: 14px;
    text-rendering: optimizeLegibility;
}
body { 
    margin: auto;
    font-family:'Roboto-regular', Arial, Helvetica, sans-serif;
}

a { text-decoration: none; }
input { border: transparent; background-color: inherit; text-align: center;}
ul { margin: 0; padding: 0;}
ul li { list-style: none; }


/* == any device  ===== */
/* == up to 600  ----  */
/* == up to 1200  ----  */
/* == 1200 and up --- */


/* ======================================== */
/* STRUCTURE MAIN RESPONSIVE BLOCS */
/* ======================================== */


/* HEADER */
/* ====== */


/* HEADER == any device  ===== */
header { height: 65px; background-color: #fff; margin-top: 0;}

.header-logo-wrapper img { 
    margin: auto;
    padding-top: 15px;
    display: block;
}

/* HEADER == up to 1200  */
@media only screen and (max-width: 1200px) {
    .header-logo-wrapper img { max-width: 170px;}
}
/* HEADER == 1200 and up  */
@media only screen and (min-width: 1200px) {
    .header-logo-wrapper img { max-width: 215px;}
}



/* ===  HOMEPAGE -  MAIN SECTIONS COMMON RULES === */
/* =============================================== */

/* HOMEPAGE - MAIN SECTIONS == any device  ===== */
/* all sections content */
.explore-elements-wrapper,
.results-section { background-color: #f6f6f6;  }
.how-section { background-color: #fff;}

.explore-elements-wrapper,
.how-elements-wrapper,
.results-elements-wrapper,
.explore-elements-wrapper * { 
    margin-left: auto; margin-right: auto; /* =====>>>>>>  */
}

.footer-nav-wrapper {  
    margin-left: auto; margin-right: auto; /* =====>>>>>>  */
    padding-top: 25px;}


/* HOMEPAGE - MAIN SECTIONS == up to 600 ---  */
@media only screen and (max-width: 600px)  {
    .explore-elements-wrapper,
    .how-elements-wrapper,
    .results-elements-wrapper { 
        padding-top: 35px;
        padding-bottom:50px;
    }
}
/* HOMEPAGE - MAIN SECTIONS == up to 1200  ---- */
@media only screen and (max-width: 1200px) {
    .how-elements-wrapper,
    .results-elements-wrapper { width: 90%; }
    .explore-elements-wrapper * { margin-left: auto; margin-right: auto; /* =====>>>>>>  */ }
    .footer-nav-wrapper { width: 90%; padding-top: 25px; }
}


/* HOMEPAGE - MAIN SECTIONS == from 600 to 1200 ---  */
@media only screen and (min-width: 601px)  {
    /* all sections content */
    .explore-elements-wrapper,
    .how-elements-wrapper,
    .results-elements-wrapper { 
        padding-top: 15px;
        padding-bottom:35px;
    }
}

/* HOMEPAGE - MAIN SECTIONS == 1200 and up ---  */
@media only screen and (min-width: 1201px) {
    body { background-color: #cbcbcb;}
    .main-content-wrapper { background-color: #f6f6f6; }
    .main-content-wrapper,
    .footer-nav-wrapper { width: 80%; 
        margin-left: auto;margin-right: auto;  /* =====>>>>>>  */ }

    /* all sections titles  */
    h2 { text-align: center;}
} 

/* ====== */


/* == any device  ===== */
/* == up to 600  ----  */
/* == up to 1200  ----  */
/* == 1200 and up --- */


/* EXPLORE SECTION ===== */
/* ===================== */

/* EXPLORE SECTION ELEMENTS  == any device  ===== */
.explore-elements-wrapper { text-align: center; }

/* search-bar == any device  ===== */
.search-bar-wrapper { height: 50px; background-color: #eaeaea;}
/* .search-bar-wrapper .input-container > input[placeholder]{text-align: center; }*/

/* EXPLORE btn == any device  ===== */
.main-btn-wrapper { margin-top:20px;margin-bottom:10px; }
.main-btn-wrapper button { height:50px; display: block;}


/* EXPLORE search-bar  == from 600 : search-bar goes below explore btn --- */
@media only screen and (min-width: 601px) { 
    .explore-section { display: flex; flex-flow: column nowrap; }
    .search-bar-wrapper { order:2; }
} 

/* EXPLORE search-bar  == from 600 to 1200 : search-bar below explore btn = is forced upwards --- */
@media only screen and (min-width: 601px) and (max-width: 1299px) { 
   /*  .search-bar-wrapper { transform: translate(0, -30px);} */
}

/* EXPLORE search-bar  == from 768 to  1200 --- */
@media only screen and (min-width: 768px) and (max-width: 1199px) { 
    .search-bar-wrapper { width:80%; margin:10px auto; } 
}


/* EXPLORE search-bar  == 1200 and up --- */
@media only screen and (min-width: 1200px) { 
    .search-bar-wrapper { width:60%; margin:35px auto; } 
}


/* EXPLORE TEXT === up to 600  ----  */
@media only screen and (max-width: 600px) {
    .explore-elements-wrapper h1 { width: 230px;}
    .explore-elements-wrapper p { width: 300px;}
}

/* EXPLORE SECTION == from 600 and up --- */
@media only screen and (min-width: 601px) {
    .explore-elements-wrapper { width: 100%; }
}

/* EXPLORE SECTION == 1200 and up --- */
@media only screen and (min-width: 1201px) {

    .explore-section { display: flex; flex-flow: column nowrap; }
    .search-bar-wrapper { order:2; } /* search-bar goes below explore btn */

    .explore-elements-wrapper { padding-bottom: 0;}
    .explore-elements-wrapper h1,
    .explore-elements-wrapper p { width: unset; } /* one-liners  */

    .explore-elements-wrapper h1 { margin-bottom: 0;}
    .explore-elements-wrapper p { margin-top: 0;}
}



/*  HOW SECTION  */
/* ============= */

/*  HOW SECTION  == any device  =====  */
.how-card {height: 75px; border:2px solid pink; background-color: #f6f6f6;  }


/*  HOW SECTION == from 600 to 768 ---  */
@media only screen and (min-width: 601px) and (max-width: 768px) {
    .how-elements-wrapper { width: 80%; margin:auto;}
}
/*  HOW SECTION == from 768 to 1200 ---  */
@media only screen and (min-width: 769px) and (max-width: 1200px) {
    .how-elements-wrapper { width: 60%; margin:auto;}
}

/*  HOW SECTION == 1200 and up ---  */
@media only screen and (min-width: 1201px) {
    .how-section { width: 95%; margin: auto; }
    .how-elements-wrapper { width: 50%; margin:auto;}
}


/* RESULTS SECTION */
/* ===================== */


/* RESULTS SECTION == any device  =====   */
.result-card { height:250px; border: 2px solid violet; }


/* RESULTS SECTION == from 600 and up : results on rows ---  */
@media only screen and (min-width: 600px) { 
    .results-cards-wrapper { 
        display: flex; flex-flow: row wrap; justify-content: space-between;
    }
}

/* RESULTS SECTION == from 600 to 1200 : results on rows of 2 ---  */
@media only screen and (min-width: 601px) and (max-width: 1199px) {
    .result-card { flex-basis: 50%; }
}

/* RESULTS SECTION == 1200 and up : results on rows of 4 ---  */
@media only screen and (min-width: 1200px) {
    .results-cards-wrapper { 
        background-color: lightblue;
        width:95%; margin:auto;
    }
    .result-card { flex-basis: 20%; }
}


/* FOOTER  */
/* ===================== */

/* FOOTER  == any device  =====  */
footer { background-color: #353535; }
.footer-logo-wrapper { margin: 0 0 1em 0;}
.footer-logo-wrapper img { max-width: 100px;}
.footer-nav-wrapper p { margin: .5em 0 0 0;  color:white;}

/* FOOTER  ==  up to 600---  */
@media only screen and (max-width: 600px) {
    footer { height: 195px; }
}

/* FOOTER  == 600 and up ---  */
@media only screen and (min-width: 601px) {
    footer { height: 140px; }
    .footer-nav-wrapper ul { display: flex; flex-flow: row nowrap;  justify-content: space-between; }
}


