
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {} 
/* mobile */

/* ================================== */
/* ================================== */
/* General rules */
/* ================================== */
/* ================================== */

@font-face { 
    font-family:'Shrinkhand-regular';
    src: url('assets/fonts/shrinkhand/shrinkhand-regular.ttf') format('ttf');
    src: url('assets/fonts/shrinkhand/shrinkhand-regular.eot') format('eot');
    src: url('assets/fonts/shrinkhand/shrinkhand-regular.woff') format('woff');
}
@font-face { 
    font-family:'Roboto-thin';
    src: url('assets/fonts/roboto/roboto-thin.ttf') format('ttf');
    src: url('assets/fonts/roboto/roboto-thin.eot') format('eot');
    src: url('assets/fonts/roboto/roboto-thin.woff') format('woff');
}
@font-face { 
    font-family:'Roboto-regular';
    src: url('assets/fonts/roboto/roboto-regular.ttf') format('ttf');
    src: url('assets/fonts/roboto/roboto-regular.eot') format('eot');
    src: url('assets/fonts/roboto/roboto-regular.woff') format('woff');
}
@font-face { 
    font-family:'Roboto-medium';
    src: url('assets/fonts/roboto/roboto-medium.ttf') format('ttf');
    src: url('assets/fonts/roboto/roboto-medium.eot') format('eot');
    src: url('assets/fonts/roboto/roboto-medium.woff') format('woff');
}
@font-face { 
    font-family:'Roboto-bold';
    src: url('assets/fonts/roboto/roboto-bold.ttf') format('ttf');
    src: url('assets/fonts/roboto/roboto-bold.eot') format('eot');
    src: url('assets/fonts/roboto/roboto-bold.woff') format('woff');
}


* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;

    scroll-behavior: smooth;
}

html {
    font-size: 14px;
    text-rendering: optimizeLegibility;
}
body { 
    margin: auto;
    background-color: #fff;
    font-family:'Roboto-regular', Arial, Helvetica, sans-serif;
}

a { text-decoration: none; }
input { border: transparent; }
ul { margin: 0; padding: 0;}
ul li { list-style: none; }




/* ======================================== */
/* TESTS STRUCTURE MAIN RESPONSIVE BLOCS */
/* ======================================== */


/* HEADER  ===== */
/* HEADER MOBILE*/
header {  background-color: pink;height: 65px; }
.header-logo-wrapper{ border:2px solid orange;  }

.header-logo-wrapper img { 
    margin:15px auto;
    display: block;
    max-width: 170px;
}

/* HEADER DESKTOP*/
.header-logo-wrapper img {  max-width: 215px;}




/* EXPLORE ===== */
.explore-section { border:2px solid rgb(90, 252, 211);}

.explore-section * { margin-left: auto;margin-right: auto;  }
/* EXPLORE MOBILE */

.search-bar-wrapper { height: 50px; border:2px solid rgb(36, 119, 243);}
.explore-elements-wrapper { background-color: rgb(186, 147, 196);
    height: 290px; 
    padding-top: 30px;
    padding-bottom:50px;
}
.explore-elements-wrapper h1 { width: 230px;}
.explore-elements-wrapper p { width: 300px;}

.explore-btn-wrapper {margin-top:20px;margin-bottom:10px; }
.explore-btn-wrapper button { height:50px; display: block;}

/* EXPLORE DESKTOP */

.how-section { height: 440px; background-color: lightyellow;}
.how-elements-wrapper {}
.how-cards-wrapper {}
.how-card {height: 75px; border:2px solid pink; }




/* RESULTS ====== */
.results-section { } /* auto: depending on how many cards it contains */
.results-cards-wrapper {}
.result-card {height:250px; border: 2px solid violet; }

.footer-nav-wrapper {
    height:195px;
    background-color: green;
}
.footer-logo-wrapper { border:2px solid orange;}

.footer-logo-wrapper img { max-width: 100px;}