/* EXPLORE btn == any device  ===== */
.main-btn-wrapper {
    margin: 20px auto; 
    .main-btn { 
        height:50px; 
        padding: 0% 12%;
        display: block;
        border-radius: 50px;
        border: none;
        background: $btn-gradient ;
        color: $white;
        font-size:1rem;
    }
}