/* MAIN btn == any device  ===== */

.main-btn-wrapper.home { margin: 20px auto; }

.main-btn-wrapper {
    .main-btn { 
        height:50px; 
        padding: 0% 12%;
        border-radius: 50px;
        background: $btn-gradient;
        color: $white;
        font-size:1rem;
        @include box-shadow;
        &:hover {
            background: $btn-gradient-hover;
            @include box-shadow(lighten($darkgrey, 30%));
            text-shadow: 0px 2px 15px $darkgrey;
        }
    }
}