.spinner-wrapper {
    animation: loading-block 3s ease-out forwards ;
    position: absolute;
    z-index:5;
    width: 100vw;
    height:100%;
    background-color: $mediumgrey;
    /* opacity: 0.8; */

    &__anim-wrapper {
        background-color: yellow;
        width: 25%;
        height:60%;
        margin:auto;

        &__icons-wrapper {
            background-color: lightblue;
            @include icon-base;
            font-size: 50px;
            position: relative;
            height: 100%;
            i.fas { position:absolute; }
            i.fas.fa-mobile-alt { opacity: 0; animation: spinner-icons 1s forwards;}
            i.fa-store { opacity: 0;animation: spinner-icons 1s 1s forwards;}
            i.fa-utensils {opacity: 0; animation: spinner-icons 1s 2s forwards;}
        }
    }
}

/* animation loading block */
@keyframes loading-block { 
    from { visibility: visible;}
    to { visibility: hidden; }
}
/* animation icons */
@keyframes spinner-icons {
    from { opacity: 0; }
    50% { opacity: 1; }
    to { opacity: 0; }
}