.spinner-wrapper {
    animation: loading-block 3s forwards ;
    position: absolute;
    z-index:5;
    width: 100%;
    height:100%;
    margin-top:15px;
    background-color: $white;

    &__anim-wrapper {
        width: 30%;
        height:60%;
        margin:auto;

        &__icons-wrapper {
            /* border: 5px solid lightblue; */
            color: $primary;
            @include icon-base;
            @include max-600px { font-size: 60px; }
            @include min-600px { font-size: 70px; }
            position: relative;
            height: 30%;
            i.fas { position:absolute; }
            i.fas.fa-mobile-alt { opacity: 0; animation: spinner-icons 1s forwards;}
            i.fa-store { opacity: 0;animation: spinner-icons 1s 1s forwards;}
            i.fa-utensils {opacity: 0; animation: spinner-icons 1s 2s forwards;}
        }
    }
}

/* animation loading block */
@keyframes loading-block { 
    from { visibility: visible;}
    to { visibility: hidden; }
}
/* animation icons */
@keyframes spinner-icons {
    from { opacity: 0; }
    50% { opacity: 1; }
    to { opacity: 0; }
}