/* ================================== */
/* Fonts */
/* ================================== */

@font-face { 
    font-family:'Shrinkhand-regular';
    src: url('assets/fonts/shrinkhand/shrinkhand-regular.ttf') format('ttf');
    src: url('assets/fonts/shrinkhand/shrinkhand-regular.eot') format('eot');
    src: url('assets/fonts/shrinkhand/shrinkhand-regular.woff') format('woff');
}
@font-face { 
    font-family:'Roboto-thin';
    src: url('assets/fonts/roboto/roboto-thin.ttf') format('ttf');
    src: url('assets/fonts/roboto/roboto-thin.eot') format('eot');
    src: url('assets/fonts/roboto/roboto-thin.woff') format('woff');
}
@font-face { 
    font-family:'Roboto-regular';
    src: url('assets/fonts/roboto/roboto-regular.ttf') format('ttf');
    src: url('assets/fonts/roboto/roboto-regular.eot') format('eot');
    src: url('assets/fonts/roboto/roboto-regular.woff') format('woff');
}
@font-face { 
    font-family:'Roboto-medium';
    src: url('assets/fonts/roboto/roboto-medium.ttf') format('ttf');
    src: url('assets/fonts/roboto/roboto-medium.eot') format('eot');
    src: url('assets/fonts/roboto/roboto-medium.woff') format('woff');
}
@font-face { 
    font-family:'Roboto-bold';
    src: url('assets/fonts/roboto/roboto-bold.ttf') format('ttf');
    src: url('assets/fonts/roboto/roboto-bold.eot') format('eot');
    src: url('assets/fonts/roboto/roboto-bold.woff') format('woff');
}