
@use "sass:map";
/* =============================================== */
/* HOMEPAGE FONTS RULES  */
/* =============================================== */
.main-content-wrapper.homepage {
    h1, h2, h3, p { font-family: map-get($font-families, rob-medium);}
    
    /* -- exceptions / specials --- */
    /* result place */
    h3 span { font-family: map-get($font-families, rob-thin);}
    /* explore subtitle */
    .explore-elements-wrapper p { font-family: map-get($font-families, rob-thin);}
    /* searchbar input */
    .input-container { input[placeholder]{ font-size:14px;font-family: map-get($font-families, rob-medium);}}
    /* result card - 'new' tag */
    .new-tag p { color: darken($tertiary, 40%); }
}

/* =============================================== */
/* ===  HOMEPAGE -  MAIN SECTIONS === */
/* =============================================== */

/* search-bar default color with shadow of header */
/* #homepage-header, .homepage { background-color: $lightgrey2; } */

/* HOMEPAGE - MAIN SECTIONS == any device  ===== */
/* all sections content */
.explore-elements-wrapper,
.results-section { background-color: $lightgrey; }
.how-section { background-color: $white; }

.explore-elements-wrapper,
.how-section__wrapper,
.results-section__wrapper,
.explore-elements-wrapper * { 
    @include mlmr-auto;
}
/* =FYI= */
/* .nav__wrapper { @include mlmr-auto; padding-top: 25px; } */


/* HOMEPAGE - MAIN SECTIONS == up to 600 ---  */
@media only screen and (max-width: 600px)  {
    .explore-elements-wrapper,
    .how-section__wrapper,
    .results-section__wrapper { 
        padding-top: 35px;
        padding-bottom:50px;
    }
}
/* HOMEPAGE - MAIN SECTIONS == up to 1200  ---- */
@media only screen and (max-width: 1200px) {
    .how-section__wrapper,
    .results-section__wrapper { width: 90%; }
    .explore-elements-wrapper * { @include mlmr-auto; }
    /* =FYI= .nav__wrapper (footer) { width: 90%; padding-top: 25px; } */
}
/* HOMEPAGE - MAIN SECTIONS == from 600 to 1200 ---  */
@media only screen and (min-width: 601px)  {
    /* all sections content */
    .explore-elements-wrapper,
    .how-section__wrapper,
    .results-section__wrapper { 
        padding-top: 15px;
        padding-bottom:35px;
    }
}
/* HOMEPAGE - MAIN SECTIONS == 1200 and up ---  */
@media only screen and (min-width: 1201px) {
    body { background-color: $mediumgrey;}
    .main-content-wrapper { background-color: $lightgrey; }
    .main-content-wrapper 
        /* =FYI= .nav__wrapper (footer) */
        { width: 80%; @include mlmr-auto; }

    /* all sections titles  */
    h2 { text-align: center;}
} 


/* EXPLORE SECTION ===== */
/* ===================== */

.explore-section {
    @include min-600px { display: flex; flex-flow: column nowrap; }
    .search-bar { 
        @include min-600px { order:2; }/* from 600 search-bar goes below explore btn */
        @include min768px-max1200px { width:80%; margin:10px auto; }
        @include min-1200px { width:95%; margin:35px auto; background-color: $lightgrey2; }
        &__elements-container { 
            display:flex; flex-flow: row nowrap;  /* =====>>>>>>  */
            justify-content: center;
            padding: 15px 0px 15px 50px; 
            .icon, .input-container { height: 20px; }
            .icon { width: 20px; @include icon-base; }
        }
    }
    .explore-elements-wrapper {
        text-align: center;
        @include min-600px { width: 100%; }
        @include min-1200px { padding-bottom: 0; }
        h1 { 
            @include max-600px { width: 230px; }
            @include min-1200px {width: unset; margin-bottom: 0; }
        }
        p { 
            @include max-600px { width: 300px; }
            @include min-1200px { width: unset; margin-top: 0;}
        }
    }
}




/*  HOW SECTION  */
/* ============= */

.how-section {
    @include min-1200px { width: 95%; margin: auto; }
    &__wrapper {
        @include min600px-max768px { width: 80%; margin:auto;} /* =====>>>>>>  */
        @include min768px-max1200px { width: 60%; margin:auto; } /* =====>>>>>>  */
        @include min-1200px { width: 50%; margin:auto; } /* =====>>>>>>  */
    }
    &__cards-wrapper { width: 90%; margin: auto; }  /* =====>>>>>>  */
    &__card { 
        position: relative;
        border:2px solid transparent; /* removing the border fs up layout !- > ?? */
        border-radius: 20px;
        height: 75px;
        background-color: $lightgrey;
        margin-bottom: 20px;            /* =====>>>>>>  */
        @include box-shadow;
        .card-elements { 
            margin: 25px auto;   /* =====>>>>>>  */
            height:25px;
            display: flex; flex-flow: row nowrap;  /* =====>>>>>>  */
            @include min-600px { justify-content: center;}
            .card-number { 
                background-color: $primary;
                width:25px;height:25px;
                position:absolute;
                transform:translateX(-17px);
                color:$white;
                border-radius: 50%;
                @include icon-base;
                font-family: map-get($font-families , rob-medium );
                @include min-600px { transform:translateX(0px); left: 15%;}
                @include min-1200px { }
            }
            .card-icon {    
                width: 35px; height: 25px;
                margin: auto 25px;
                @include icon-base;
                .fas { @include icon-size; }
            }
            .card-txt { 
                min-width: 175px;
                p { margin:0; padding: 1%;}
            }
        }
    }
}


/* RESULTS SECTION */
/* ===================== */

.results-section {
    &__cards-wrapper {
        @include min-600px {
            /* results => rows */
            display: flex; flex-flow: row wrap; 
            justify-content: space-between;}
        @include min-1200px { width:95%; margin:auto; }
    }
    &__card {
        height:250px;
        position: relative;
        /* border: 2px solid violet; */
        @include max-600px { margin-bottom: 15px; }
        @include min600px-max1200px { margin-bottom: 20px; flex-basis: 48%; }
        @include min-1200px { flex-basis: 24%; }
        @include box-shadow;
        a { display: block; @include h100w100; }

        .new-tag,.heart-icon {
            position: absolute;
            z-index:2;
        }
        .new-tag { 
            width: 80px; height: 30px;
            top: 15px;
            right:10px;
            background-color: $tertiary; 
            @include icon-base;   /* =====>>>>>> IS 'center element' */
            p { margin: 0;}
        }
        .heart-icon { 
            @include icon-size(1.8rem);
            @include icon-base; 
            bottom:25px;
            right:20px; 
            width:30px; height:30px;

            /*  icon effect  */ 
            .fas, .far { position:absolute; @include transition-5;}
            /* .far = outline */
            .far { &:hover { opacity: 0; } }
            /* .fas = solid */
            .fas {
                opacity: 0;
                &:hover {
                    opacity: 1;
                    @include heart-active;
                }
            }
        }
        figure {
            @include h100w100;
            margin: 0;
            overflow: hidden;
            border-radius: 15px;
            img { 
                /* background-color:lavender; */
                @include h100w100;
                object-fit: cover;
                object-position: bottom;
                display: block;
                overflow: hidden;}
                figcaption {  
                    background-color: $white;
                    border-bottom-left-radius: 15px;
                    border-bottom-right-radius: 15px;
                    width: 100%;
                    height: 80px;
                    position: absolute; /* =====>>>>>>  */
                    display: block;
                    margin: 0;
                    bottom: 0;
                    left:0;
                    h3 { margin-left: 15px;
                        line-height: 1.8rem; }
                }
            }

    }
}


