@use "sass:map";
/* =============================================== */
/* MENUPAGE - FONTS RULES  */
/* =============================================== */
.main-content-wrapper.menupage {
    h1 { 
        font-family: map-get($font-families, shrink );
        font-size: 2em;
        font-weight: normal;
        color: black;
        @include min-600px { font-size: 2.5em;}
    }
    /* dish types */
    h2 { 
        font-family: map-get($font-families, rob-thin);
        font-variant: small-caps; text-align: unset; }

    /* dish names */
    h3 { font-family: map-get($font-families, rob-medium);  font-weight: normal;}
    
    /* dish subtitle  */
    h4 { font-family: map-get($font-families, rob-thin); }

    /* dish price */
    .dish-card__txt__details h4:nth-child(2) {font-family: map-get($font-families, rob-medium); font-weight: normal;}

    /* -- exceptions / specials --- */
    /* dish types underlining  */
    .menu-bloc { position: relative;}
    .menu-bloc h2::after { 
        width: 40px;
        position: absolute;
        content:'';
        border-bottom: 3px solid $tertiary;
        left:0;
        top: 30px;
    }
}

/* ======================================== */
/* MENU PAGES -  MAIN SECTIONS === */
/* ======================================== */

.main-content-wrapper.menupage, .menu  { background-color: $lightgrey; }

/* MENU PAGE - TOP IMAGE == any device  =====*/
.main-content-wrapper { position: relative; }

.main-img-wrapper figure {
    height: 255px;
    overflow: hidden;
    padding: 0 !important;
    margin: 0 !important;
}
.main-img-wrapper figure img {
    min-width: 100%;
    max-height: 100%;
    display: block;
    object-fit: cover;
}


/* MENU PAGE - MENU Section == any device  ===== */
.menu {
        background-color: $lightgrey;
        position: relative;
        top: -60px;
        padding-top: 20px;
        @include border-radius(50px 50px 0px 0px);
        &__elements-wrapper{
            width: 90%;
            @include mlmr-auto;
        }
        &__name-wrapper {
            @include flex-row-nowrap;
            justify-content: space-between;
            .heart-icon {
                @include icon-size(2rem);
                @include icon-base;
                align-items: end;
                /*  icon effect  */ 
                .fas, .far { position:absolute; @include transition-5;}
                /* outline */
                .far { &:hover { opacity: 0; } }
                /* solid */
                .fas {
                    opacity: 0;
                    &:hover {
                        opacity: 1;
                        @include heart-active;
                    }
                }
            }
        }
}



/* MENU PAGE - MENU Section -> DISH CARDS  == any device  ===== */
.dish-card {
    /* open page - Dish cards animation  */
    position:relative; /* for anim purpose */
    animation: dish-appear 1s ease-in forwards;
    @include delay-anim;

    height:70px;
    margin: 5% auto;
    @include flex-row-nowrap;
    justify-content: space-between;
    background-color: $white;
    border-radius: 15px;
    @include box-shadow;

    &__txt { 
        padding: 14px 0 14px 10px;
        flex-basis: 100%;
        border-radius: 15px;
        z-index: 2;
        overflow: hidden;
        background-color: $white;
        @include min-600px { @include flex-row-nowrap; align-items: center; }
        h3, h4 { margin: 0; max-height: 1.5em; overflow: hidden; } 
        h3 { /* dish name */
            padding-bottom: 7px;
            @include min-600px { margin-right: 20px; } 
        }
        /* anim dish select */
        &:hover { 
            @include max-600px { flex-basis: 80%; }
            @include min-600px { flex-basis: 90%; }
        }
        &__details { 
            @include flex-row-nowrap;
            justify-content: space-between;
            @include min-600px { flex: auto;}

            h4:nth-child(1){ /* dish subtitle */
                min-width: 0;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;}
            h4:nth-child(2){ /* dish price */
                min-width:50px;
                margin-left: 5px;
                @include min-600px { margin-right: 5px; }
            }
        }
    }
    &__icon { 
        height: 100%;
        color: $white; 
        background-color: $tertiary;
        text-align: center;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        @include icon-base;
        
        /* anim check dish */
        width: 0px;
        display: flex;
        flex-basis: 0;

        .fas.fa-check-circle { 
            font-size: 20px !important;
            line-height: 3.5;
            visibility: hidden;
        }
    }
    &:hover .dish-card__icon { 
        flex-basis: 20%;
        overflow: hidden;
    }
    &:hover .dish-card__icon .fas.fa-check-circle{ 
        visibility: visible;
    }
    &:hover .dish-card__icon i.fas.fa-check-circle{ 
        visibility: visible;
        transform: rotate(360deg);
    }
}

/* open page - Dish cards appearing animation  */
@keyframes dish-appear {
    from { top: 20px; opacity: 0; }
    to { top: 0px; opacity: 1;}
}


/*  MENU PAGE - ORDER Section */
section.order { height: 110px;}
.order * { 
    @include mlmr-auto;
}