
@use "sass:map";

/* ======================================== */
/* BREAKPOINTS*/
/* ======================================== */
$breakpoints: (mobile: 600px, tablet: 768px, laptop: 992px, desktop: 1200px );

/* == up to 600  */
@mixin max-600px {
    @media screen and (max-width: map-get($breakpoints, mobile )) {
        @content;
        @include transition-1;
    }
}
/* == from 600  */
@mixin min-600px {
    @media screen and (min-width: map-get($breakpoints, mobile )) {
        @content;
        @include transition-1;
    }
}

/* == from 600 to 768 */
@mixin min600px-max768px {
    @media screen and (min-width: map-get($breakpoints, mobile )) and (max-width: map-get($breakpoints, tablet )){
        @content;
        @include transition-1;
    }
}

/* == from 600 to 1200 */
@mixin min600px-max1200px {
    @media screen and (min-width: map-get($breakpoints, mobile )) and (max-width: map-get($breakpoints, desktop )){
        @content;
        @include transition-1;
    }
}

/* == up to 768  */
@mixin max-768px {
    @media screen and (max-width: map-get($breakpoints, tablet )) {
        @content;
        @include transition-1;
    }
}
/* == from 768 to  1200  */
@mixin min768px-max1200px {
    @media screen and (min-width: map-get($breakpoints, tablet )) and (max-width: map-get($breakpoints, desktop )){
        @content;
        @include transition-1;
    }
}

/* == up to 992  */
@mixin max-992px {
    @media screen and (max-width: map-get($breakpoints, laptop )) {
        @content;
        @include transition-1;
    }
}

/* == up to 1200  */
@mixin max-1200px {
    @media screen and (max-width: map-get($breakpoints, desktop )) {
        @content;
        @include transition-1;
    }
}

/* == from 1200  */
@mixin min-1200px {
    @media screen and (min-width: map-get($breakpoints, desktop )) {
        @content;
        @include transition-1;
    }
}



/* ======================================== */
/* FLEXBOX */
/* ======================================== */

$dir: ( col:column, row:row );
$wrap: ( wrap:wrap, nwrap:nowrap );

@mixin flex($dir, $wrap) {
    display: flex;
    flex-flow: $dir $wrap;
}

@mixin flex-row-nowrap {
    display: flex;
    flex-flow: row nowrap;
}




/* ======================================== */
/* MARGINS  */
/* ======================================== */

@mixin mlmr-auto {
    margin-left: auto; margin-right: auto;
}

@mixin m-auto { margin: auto; }


/* ======================================== */
/* PADDINGS  */
/* ======================================== */

@mixin p-top-base {
    padding-top: 25px;
}



/* ======================================== */
/* SIZE */
/* ======================================== */
@mixin h100w100 {
    height:100%; width:100%;
}

/* ======================================== */
/* ICONS */
/* ======================================== */

@mixin icon-base {
    display: flex;
    flex-flow: column nowrap;        
    justify-content: center;
    align-items: center;
}
@mixin icon-size( $size: 1.3rem ) { 
    font-size: $size;
}

/* ======================================== */
/* BORDER-RADIUS */
/* ======================================== */

@mixin border-radius($pixel...) {
    border-radius: $pixel;
}



/* ======================================== */
/* EFFECTS */
/* ======================================== */

@mixin box-shadow($color: $mediumgrey) { 
    box-shadow: 0px 7px 10px $color;
}

@mixin heart-active {

    background: $btn-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   /*  text-shadow: 1px 1px white, -5px -5px $primary; (interesting) */ 
}



@mixin transition-5 {
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
@mixin transition-1 {
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
}

@mixin transition($property, $duration, $timing-function) {
    transition: $property $duration $timing-function;
    -webkit-transition: $property $duration $timing-function;
    -ms-transition: $property $duration $timing-function;
    -moz-transition: $property $duration $timing-function;
    -o-transition: $property $duration $timing-function;
}





