

/* ======================================== */
/* COLOURS */
/* ======================================== */

/* basics */
$white: #fff;

/* violet */
$primary: #9356DC;
/* rose */
$secondary: #FF79DA;
/* turquoise */
$tertiary: #99E2D0;

/* lightgrey - HOME => BG explore / how cards inactives /  BG results  + BG MENU */
$lightgrey: #f6f6f6;
/* medium grey => BG BODY DESKTOP */
$mediumgrey: #cbcbcb;
/* dark grey - footer */
$darkgrey: #353535;


/* SPECIFICS =================> use functions instead */
/* lightgrey2 => MOBILE => search bar */
$lightgrey2:#eaeaea;
/* grey search icon + placeholder */
$greySpecific: #353535;


/* BTN gradient */
$btn-gradient: linear-gradient(170deg, $secondary 0%, $primary 80%); 
$btn-gradient-hover: linear-gradient(170deg, lighten($secondary, 10%) 0%, lighten($primary, 10%) 80%); 

