/* ================================== */
/* General rules */
/* ================================== */

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;

    scroll-behavior: smooth;
}

html {
    font-size: 14px;
    text-rendering: optimizeLegibility;
}
body { 
    margin: auto;
    height: 100%;
}

a { text-decoration: none; color: unset; cursor: pointer; }
input { border: transparent; background-color: inherit; }
ul { margin: 0; padding: 0;}
ul li { list-style: none; }
button {  display: block; border: none;  cursor: pointer; }
/* h1, h2, h3, h4 {font-weight: normal !important; } */

